* {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
.movie-data {
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-menu {
    background: #333;
}
.dropdown-menu a {
    color: #9d9d9d!important;
}
.thumbnail {
    padding: 15px;
}
.thumbnail img {
    transition: all 0.5s;
    max-height: 300px;
}
.thumbnail img:hover {
    box-shadow: 2px 2px 20px #888888;
    transform: scale(1.1);
}

.fixed-height {
    height: 40px;
}
.summary {
    margin-top: 20px;
    padding: 20px;
}
.summary h4 {
    color: #007722;
}
.summary p {
    text-indent: 2em;
}
.info img {
    max-width: 300px;
}
.info-list li{
    font-size: 12px;
    margin-bottom: 5px;
}
.info-list .fixed-height {
    height: 30px;
}
.medium-img {
    height: 150px;
}
.movie-slide {
    width: 80%;
}
.movie-slide img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}
/*图书模块*/
.poster-slide  img{
    width: 100%;
    margin: 0 auto;
}
#book-search {
    margin-bottom: 20px;
}

.book-tag>ul>li {
    float: left;
}

.book-list .tag span{
    color:orangered;
}